<div class="header">
  <div  (click)="goToLanding()"class="logo">
    <h1>LMS</h1>
    <p>Developing Professionals</p>
  </div>

  <div class="courselink">
    <button (mouseover)="mouseenter()" class="btn">
      <i class="fa-solid fa-list"></i> Courses
    </button>
    <div class="navlinks">
      <p (click)="scrollToAboutUs()">About us</p>
      @if(isLogin){
        @if(role==='ROLE_STUDENT'){
          <p (click)="mycourse()"> My Courses
          </p>
        }
        @if(role==='ROLE_INSTRUCTOR'){
          <p (click)="viewCourse()"> View courses</p>
          <p (click)="addCourse()"> Add course</p>
        }
        <p><i class="fa fa-user-circle fa-2x" aria-hidden="true" (click)="logOut()"></i></p>


      }@else{
        <p (click)="register()">Register</p>
        <p (click)="login()">Login</p>

      }


    </div>
  </div>
</div>

<div class="hover_view" (mouseover)="mouseenter()" (mouseleave)="onMouseLeave()"*ngIf="showCategories">
  <div class="category">
    @for(cat of allCategoriesAndSubCategories;track cat.catid) {
    <div (mouseover)="getSubCategory(cat?.courseList )" class="cat-list">
      {{ cat.catgeoryName }}
    </div>
    }
  </div>

  <div class="sub-categoryview">
    <ul class="subcat-list">
      @for(subcat of selctedSubcategory;track subcat.courseId)
       {
      <li (click)="navigate( subcat?.courseId)" class="subcat-name">{{ subcat?.courseName }}</li>
      }
    </ul>
  </div>
</div>
