.header {
  width: 100%;
  height: 68px;
  background-color:#ffffff;
  ;
  display: flex;
  align-items: center;
  font-style: normal;
  column-gap: 125px;
  position: relative;
  z-index: 999;
}

.logo {
  padding: 10px;
  font-style: bold;
}

.btn {
  padding: 10px;
  width: 132px;
  height: 44px;
  text-indent: none;
  border-radius: 10px;
  border: none;
  background-color: #111213;
  font-size: larger;
  color: #f6f6f6;
  cursor: pointer;
}

.courselink {
  width: 77%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navlinks {
  width: fit-content;
  display: flex;
  column-gap: 45px;
  font-size: larger;
  font-weight: 400;
  align-items: center;
  padding: 0px 15px;
  cursor: pointer;
}

.cat-list {
  width: 100%;
  height: fit-content;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.cat-list:hover {
  background-color: #a6b0b0;
}

.course-name {
  width: 50%;
  height: fit-content;
  background-color: #cbefef;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hover_view {
  height: fit-content;
  width: 100%;
  /* background-color: #a6b0b0; */
  display: flex;
  flex-direction: row;
  position: absolute;
  transition: ease-in-out;
  z-index: 999;
  display: flex;
  flex-direction: row;
  padding-left: 25px;
}

.category {
  width: 25%;
  height: fit-content;
  background-color: #dedede;
}

.sub-categoryview {

  background-color: #b1b4b195;
  width: 74%;
    height: 215px;
    background-color: #b1b4b195;
}

.subcat-list {
  width: 100%;
  padding: 25px;
  height: fit-content;
  background-color: grey;
}

.subcat-name {
  padding: 10px;
  cursor: pointer;
}

.subcat-name:hover {
  font-weight: 600;
}
p{
  cursor: pointer;

}

.profile-logo{
  position: relative;

}

.profile-div{
  position: absolute;
  top: 135%;
  right: -10px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  width: 150px;
  height: 150px;
}
