
 <app-header [isLogin]="isLogin" ></app-header>
 <app-loader [isLoading]="isLoading"></app-loader>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="main-continer">

    <section class="section">
<h1>COURSE LIST</h1>
    </section>
    @for(course of courseList;track course.courseId){
  <div class="course-container" >
    <div class="course-image">
        <img [src]=course.courseImageLink alt="course-image">
    </div>

    <div (click)="getCourseDetails(course.courseId)" class="'course-descrption">

        <h2>{{course.courseName}}</h2>
        <br>
        <p>{{course.coursedescription}}</p>
        <p><strong>Instructor:</strong> Saurabh Gupta</p>

          <div class="star-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
       <br>
       <div class="add-course">
        <p> 500 Learners</p>
        <div>
          <button  class="btn" >View </button>
        </div>
        @if(role==='ROLE_INSTRUCTOR'){
          <div>
            <button  class="btn">Delete </button>
          </div>
        }

       </div>

    </div>






    </div>
}
</div>
<app-footer></app-footer>





