<div class="search">

  <div  class="search-title">
    <h1>Enterprise Training Expert</h1>
  </div>

  <div class="search-subtitle">
    <h5>Get Certified. Get Noticed</h5>
  </div>

  <div class="search-bar">
    <input class="input-search" type="text" placeholder="Enter your Search here..."/>
  </div>

  <div class="trainig-info">
    <h6>500+ Courses</h6>
    <h6> 10000+ Students</h6>
    <h6>200+ Trainers</h6>

  </div>
  <div> <button (click)="goToCourseList()" class="btn" type="submit">View Course List</button>
    </div>
  </div>

  <section class="aboutus">

  <div>
    <div class="">
      <h2 >About Us</h2>
      <h1>About <span>KAIZEN</span></h1>


      <div class="under">

      </div>
      <div class="info">

      <p> KIAZEN LEARNING SOLUTIONS PRIVATE LIMITED  an Accredited Training Organization (ATO), is a professional training certification provider, helping professionals across the industry to develop skills and expertise to get recognition and growth in the corporate world. We’re one of the leading training providers and gradually spreading our training facility amongst candidates based at different geographies.</p>
      <p>We have gained recognition over the years in professional training certification in IT industry such as PRINCE2, DevOps, PMP, Six Sigma, ITIL and many other leading courses.</p>


    </div>



  <div class="info-list">
    <ul>
      <li>24/7 Technical Assistance: Immediate help whenever you need it.</li>
      <li>Expert Consultation: Personalized advice from industry leaders.</li>
      <li>Training and Certification Support: Resources to help you prepare for&nbsp;certifications.</li>
      </ul>
  </div>

    </div>
    </div>

    <div class="company-image">

    </div>
  </section>
