.search {
  width: 100%;
  height: 600px;
  background-image: url(https://images.pexels.com/photos/6612771/pexels-photo-6612771.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  row-gap: 30px;
}

.trainig-info {

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 33px;




}
h6{

  font-size: 20px;
    color: #dc6060;
    font-weight: 400;
}

.search-subtitle > h5 {
  font-size: 32px;
  color: yellow;
  font-weight: 400;
}

.search-title > h1 {
  font-weight: 400;
  font-size: 70px;
  color: white;
}

.search-bar {
  padding: 10px;
}

.input-search{
  padding: 21px;
  width: 52%;
  border-radius: 7px;
  border: none;
  box-shadow: 1px 1pxpx 1px 1pxpx;
  font-size: larger;
  background-color: lightgray;

}



  .btn{
    padding: 12px;
    width: 13%;
    height: 49px;
    text-indent: none;
    border-radius: 23px;
    border: none;
    background-color: #e3e4df;
    font-size: larger;
    color: #2a2626;
    cursor: pointer;
    box-shadow: 5px 5px 4px -7px;
    border: none;

  }



  .aboutus{
    padding: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

h2{
  font-weight: 300;
    font-size: x-large;
    color: #c72b41;
}


h1{
  font-size: 30px;
  font-weight: normal;
  color: #595757;


}


.company-image{
  background-image: url(https://images.pexels.com/photos/3752600/pexels-photo-3752600.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px;
  border-radius: 20px;
  /* box-shadow: 7px 7px 7px 7px; */


}



.info{
  font-size:20px;
  font-weight:100;
  color: grey;


  /* color:#948f8f; */
}

.info-list{
  padding-left: 54px;
  font-size: 20px;
  font-weight: 100;
  padding-top: 19px;
  color: grey;

  /* color:#948f8f; */

}
