<h1>Popular courses we offer</h1>
<div class="card-section">

  @for(c of trendingCourses;track c.id){
  <div class="card">
    <span class="badge"> Treding </span>
    <h2>{{c.courseName}}</h2>

    <ul class="card-course-info">
      <li>16 Hours of Instructor-Led Training and Workshops</li>
      <li>Get Trained and Certified by Industry Experts.</li>
      <li>Get Trained and Certified by Industry Experts.</li>
      <li>Get Trained and Certified by Industry Experts.</li>
    </ul>

    <div><button (click)="startLearning(c.courseId)" class="btn" type="submit">START LEARNING</button></div>
  </div>
}
</div>




<div class="become-instructor">
  <div class="search-subtitle">
    <h5>Let Your Knowldge Explore</h5>
  </div>
  <div> <button class="btn-inst" type="submit">Become an Instructor</button>
  </div>
</div>
