


 <h1>WHAT WE OFFER</h1>

<div class="card-section">
  <div class="card">
    <div class="heading">
      <h3>
        CONSULTANCY SERVICES

      </h3>
    </div>
    <div class="icon">
      <i class="fa-solid fa-globe fa-2xl"></i>
    </div>
    <div class="traing-info">

      <p >We, at Kaizen Learning Solutions have the necessary expertise in providing
        professional training certification programs for ITIL®, ITIL® Intermediate, SIAM, Cloud Computing,
        PRINCE2®, Scrum, Lean Six Sigma, DevOps, AWS, Cobit5, ISO 27001, MSP®, PMP, and many more.</p>
      <ul >
        <li>Highly qualified and certified trainers</li>
        <li>Interactive training session</li>
        <li>Getting Experienced While Learning</li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="heading">
      <h3>
        TRAINING & CERTIFICATIONS
      </h3>
    </div>

    <div class="icon">
      <i class="fa-solid fa-notes-medical fa-2xl"></i>
    </div>
    <div class="traing-info">

      <p >

        We can carry out GAP analysis and take the needed leap. And, we implement the standard ITIL® & Project Management processes as well. Our goal is to help organizations leverage technology to gain cost-effective efficiencies and increase profitability, which will result in a stronger business prospect such as strategic and tactical planning, organization and employee empowerment, systems for increased productivity, quality control, and public relations and marketing.

      </p>

    </div>
  </div>  <div class="card">
    <div class="heading">
      <h3>
        CORPORATE TRAINIG
      </h3>


    </div>
    <div class="icon">
      <i class="fa-solid fa-handshake fa-2xl"></i>
    </div>
    <div class="traing-info">

      <p >We undertake corporate training requirements where our expert trainers take the sessions in organizations premise or else we provide them 1 or 2 days of workshops, and create huge support for your team by upgrading their skill sets. NovelVista provides systematic technical skills and learning for enriching individuals. We also work in a joint venture with various corporate companies for enhancing practical skill development.</p>

    </div>

</div>
