

<div class="testimonials">

<h1>WHAT OUR PARTICIPANTS SAYS</h1>

<div class="card-section">
  <div class="card">

    <div class="icon">
      <div class="icon-left">
        <i class="fa-solid  fa-quote-left fa-2xl"></i>
      </div>

      <div class="icon-right">
        <i class="fa-solid  fa-quote-right fa-2xl"></i>
      </div>    </div>

    <div class="testimonial-info">
<div class="test-profile">
  <i class="fa-solid fa-user-tie"></i>
</div>

<div class="test-details">

      <p >The course was extremely helpful, was able to pack a lot of information into 2 days, and was easy to follow.”
        “Instructor was able to make subject matters that might be boring into something that was incredibly interactive.”
        “Billy is the absolute best. He was highly entertaining and he explained very complicated concepts in a very clear way. No issues – would highly recommend this course to others.”
        “Billy was incredibly smart, funny, and exciting. I was not excited about this week of training, but Billy made it all very worth while!”
        “Wayne rocked it! To have 20+ hours of accounting in three days is intimidating, but Wayne made the subject approachable, and relevant for what we need in our careers in management/banking and didn’t teach us like we were trying to become professional accountants (like basically every other accounting course I’ve had). I liked the stories, get-to-know-you activities, and partner work. I thought it really helped break up the materials. Thanks!”</p>

        </div>
    </div>


  </div>



</div>
</div>
