<div class="testimonials">
  <h1>WHAT OUR PARTICIPANTS SAYS</h1>
  <div class="card-section">


    <div class="card">
      <div class="icon">
        <div class="icon-left">
          <i class="fa-solid fa-quote-left fa-2xl"></i>
        </div>

        <div class="icon-right">
          <i class="fa-solid fa-quote-right fa-2xl"></i>
        </div>
      </div>

      <div class="testimonial-info">
        <div class="test-profile">
          <i class="fa-solid fa-user-tie"></i>
        </div>

        <div class="test-details">
          <p>{{
            testimonials[currentIndex].review

          }}</p>

        </div>


      </div>
    </div>


  </div>
  <div class="arrows">
    <button (click)="prevTestimonial()" class="arrow left-arrow">&#9664;</button>
    <button (click)="nextTestimonial()" class="arrow right-arrow">&#9654;</button>
  </div>

</div>

